:root {
    --color-text: hsla(235, 13%, 17%, 0.8);
    --color-text-light: hsla(235, 13%, 17%, 0.6);
    --color-text-lighter: hsla(235, 13%, 17%, 0.2);
    --color-button-orange: #F28925;
    --color-button-yellow: #FCCC65;
    --color-input-background: #EAEAEE;
    --color-input-disabled: #d5d5d8;
    --color-white: #F8F9FA;
    --color-darker-blue: #35ACAC;
    --color-dark-blue: #53CACA;
    --color-light-blue: #63CFCF;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh;
}

#page-body, #register-body, #email-body {
    background-color: var(--color-white);
    display: flex;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /* 1rem == 10px */
    }
}


/* ---------------------------------------------- */
#fields-body,
#profile-body,
#feedbacks-body {
    background-image: url("/images/default-bg.png");
}

#fields-body .box-body {
    background-color: var(--color-white);
}


.basic-font {
    font: 400 1.6rem Inter;
    color: var(--color-text);
}

.title-font h1{
    font: 500 3.2rem Roboto Slab;
    color: var(--color-text);
}

.box-body .input-style .form-group {
    margin-top: 1.8rem;
}

.box-body .input-style .form-group input {
    width: 100%;
    height: 3.2rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 0 1.8rem;
    font: 400 1.6rem Inter;
    color: var(--color-text);
}

.box-body .input-style #address,
.box-body .input-style #number,
.box-body .input-style #neighborhood,
.box-body .input-style #city,
.box-body .input-style #state,
.box-body .input-style #latitude,
.box-body .input-style #longitude {
    width: 100%;
    height: 3.2rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-disabled);
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 0 1.8rem;
    font: 400 1.6rem Inter;
    color: var(--color-text);
}

.box-body .input-style .select2 {
    width: 100%;
    height: 3.2rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid var(--color-white);
    outline: 0;
    font: 400 1.6rem Inter;
}

.btn-orange {
    background-image: linear-gradient(to right, #FCCC65 0%, #F28925  51%, #f2a025 100%);
    width: 20vw;
    height: 4.2rem;
    margin: 1.8rem;
    border-radius: 0.8rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 0 1.8rem;
    font: 400 2.2rem Roboto Slab;
    float: right;
}

.btn-orange:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-blue {
    background-image: linear-gradient(to right, #79d4d4 0%, #35ACAC  51%, #53CACA 100%);
    width: 20vw;
    height: 4.2rem;
    margin: 1.8rem;
    border-radius: 0.8rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 5px;
    font: 400 2.2rem Roboto Slab;
    float: right;
}

.btn-blue:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}