.content-wrapper {
    background-image: url("/images/default-bg.png");
}

#dashboard-body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: contents;
}

#dashboard-body .search-container {
    padding: 6.4rem 19rem;
    margin: auto;
    text-align: -webkit-center;
}

#dashboard-body .search-container .input-block {
    display: inline-block;
    position: relative;
}

#dashboard-body .search-container .input-block .glyphicon {
    pointer-events: none;
    font-size: 2.6rem;
    color: var(--color-text-light);
    position: absolute;
    left: 30px;
    top: calc(50% - 0.7rem);
}

#dashboard-body .search-container .input-block input {
    height: 6.8rem;
    width: 40vw;
    margin-top: 1.2rem;
    border-radius: 50px;
    background: var(--color-input-background);
    border: 0px;
    outline: 0;
    padding-left: 6.8rem;
    color: var(--color-text);
    font: 400 2.2rem Inter;
}

#dashboard-body .search-container .btn-primary {
    background-image: linear-gradient(to right, #FCCC65 0%, #F28925  51%, #f2a025 100%);
    width: 30vw;
    height: 6.4rem;
    margin-top: 2.4rem;
    border-radius: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color-white);
    border: 0px;
    outline: 0;
    padding: 0 5rem;
    font: 400 2.4rem Roboto Slab;
}

#dashboard-body .search-container .btn-primary:hover {
    background-position: right center;
    color: var(--color-white);
    text-decoration: none;
}

#dashboard-body .search-container .btn-primary i {
    text-align: middle;
    margin-right: 8px;
}

#dashboard-body .search-container .btn-primary a {
    color: var(--color-white);
}

@media (min-width: 1360px) {
    #dashboard-body .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
}

@media (max-width: 1359px) {
    #dashboard-body .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }
}

@media (max-width: 1100px) {
    #dashboard-body .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    #dashboard-body .cards-container .card-item {
        margin: 0 6.4rem;
    }

    #dashboard-body .search-container .btn-primary {
        width: 100%;
    }

    #dashboard-body .search-container .input-block, 
    #dashboard-body .search-container .input-block input {
        width: -webkit-fill-available;
    }

    #dashboard-body .search-container {
        padding: 6.4rem 13rem;
    }
}

#dashboard-body .cards-container .card-item {
    padding: 2rem;
}

#dashboard-body .cards-container .card-item:last-child {
    margin-bottom: 2.6rem;
}

#dashboard-body .cards-container .card-item header {
    background-color: var(--color-button-yellow);
    box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2);
    padding: 2.6rem 2.6rem 2.2rem 2.6rem;
    border-radius: 10px 10px 0 0;
}

#dashboard-body .cards-container .card-item header h1 {
    font: 700 3.4rem Roboto Slab;
    color: var(--color-text);
    margin: 0;
}

#dashboard-body .cards-container .card-item header h4 {
    font: 500 1.8rem Inter;
    color: var(--color-text);
    text-transform: lowercase;
    margin: 0 0 2.4rem 0;
}

#dashboard-body .cards-container .card-item header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dashboard-body .cards-container .card-item header i {
    color: var(--color-button-orange);
    font-size: 2.4rem;
    vertical-align: sub;
}

#dashboard-body .cards-container .card-item header span:first-child i {
    margin-right: 0.8rem;
}

#dashboard-body .cards-container .card-item header span:first-child {
    font: 500 1.6rem Inter;
    color: var(--color-text);
}

#dashboard-body .cards-container .card-item header span:last-child {
    margin-left: auto;
}

#dashboard-body .cards-container .card-item .card-info {
    background-color: var(--color-white);
    padding: 2.6rem;
    border-radius: 0 0 10px 10px;
    font: 400 2rem Inter;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#dashboard-body .cards-container .card-item .card-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#dashboard-body .cards-container .card-item .card-info i {
    color: var(--color-light-blue);
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 2.2rem;
}

#dashboard-body .cards-container .card-item .card-info-footer {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dashboard-body .cards-container .card-item .card-info .card-info-footer .btn-secondary {
    background-image: linear-gradient(to right, #79d4d4 0%, #35ACAC  51%, #53CACA 100%);
    height: 4.2rem;
    border-radius: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color-white);
    box-shadow: 0 0 20px #eee;
    display: block;
    border: 1px solid var(--color-white);
    outline: 0;
    font: 400 1.8rem Roboto Slab;
    padding: 8px;
    margin-top: -1rem;
    cursor: pointer;
}

#dashboard-body .cards-container .card-item .card-info .card-info-footer .btn-secondary:hover {
    background-position: right center;
    color: var(--color-white);
    text-decoration: none;
}

/* MODAL */
.modal {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }

#addNewPlace .modal-dialog, #placeDetails .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#addNewPlace .modal-header h5, #placeDetails .modal-header h5{
    font: 500 2.4rem Roboto Slab;
}

#addNewPlace .modal-footer .btn-primary2, #placeDetails .modal-footer .btn-primary2 {
    background-image: linear-gradient(to right, #FCCC65 0%, #F28925  51%, #f2a025 100%);
    height: 4.2rem;
    border-radius: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color-white);
    text-decoration: none;
    border: 0px;
    outline: 0;
    padding: 8px;
    font: 500 1.8rem Roboto Slab;
}

#addNewPlace .modal-footer .btn-primary2:hover, #placeDetails .modal-footer .btn-primary2:hover {
    background-position: right center;
    color: var(--color-white);
    text-decoration: none;
}

#addNewPlace .modal-footer .btn-secondary2, #placeDetails .modal-footer .btn-secondary2 {
    background-image: linear-gradient(to right, #79d4d4 0%, #35ACAC  51%, #53CACA 100%);
    height: 4.2rem;
    border-radius: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color-white);
    border: 0px;
    outline: 0;
    padding: 8px;
    font: 500 1.8rem Roboto Slab;
}

#addNewPlace .modal-footer .btn-secondary2:hover, #placeDetails .modal-footer .btn-secondary2:hover{
    background-position: right center;
    color: var(--color-white);
    text-decoration: none;
}

#addNewPlace .modal-body, #placeDetails .modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

#addNewPlace .modal-body input, #placeDetails .modal-body input {
    width: 100%;
    height: 4.6rem;
    margin-top: 1.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 0 1.8rem;
    font: 400 1.8rem Inter;
}