html {
    height:-webkit-fill-available!important;
}

#register-body {
    background-image: url("/images/default-bg.png");
    background-repeat: repeat;
}

#register-body .register-container {
    margin: auto;
    width: 40vw;
    background-color: var(--color-white);
    padding: 6.4rem;
    border-radius: 0.8rem;
}

#register-body .register-container legend {
    font: 700 4.8rem Roboto Slab;
    color: var(--color-text);
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 0.8px solid var(--color-text-lighter);
}

#register-body .register-container .input-block input {
    width: 100%;
    height: 6.4rem;
    margin-top: 1.2rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 0 1.8rem;
    font: 400 2.2rem Inter;
}

#register-body .register-container .input-block {
    position: relative;
}

#register-body .register-container .input-block:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-dark-blue);
    position: absolute;
    left: 1.6rem;
    bottom: 0px;
}

#register-body .register-container .row {
    display: block;
    margin: 2.4rem 0.8rem 0rem 0.8rem;
    font: 400 1.8rem Inter;
}

#register-body .register-container .row a {
    color: var(-color-darker-blue);
    float: right;
}

#register-body .register-container .btn-primary {
    background-image: linear-gradient(to right, #FCCC65 0%, #F28925  51%, #f2a025 100%);
    width: 100%;
    height: 6.4rem;
    margin-top: 2.4rem;
    border-radius: 0.8rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    border: 1px solid var(--color-white);
    outline: 0;
    padding: 0 1.8rem;
    font: 500 2.4rem Roboto Slab;
}

#register-body .register-container .btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#register-body .already-user {
    margin-top: 2.4rem;
    float: right;
    font: 400 1.8rem Inter;
    color: var(-color-darker-blue);
}